*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    min-width: 1500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('/thumbnails/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 30px;
}
