body{
    margin: 0;
    padding: 0;
    background-image: url('/thumbnails/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
}