.header{
    display: grid;
    align-content: space-between;
    border: 0px solid blue;
    vertical-align: top;
    grid-template-columns: 260px 1fr 90px;
    height: 80px;
}


.header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-box{
    padding: 0;
    border: 0px solid green;
    margin-left: 60px;
    height: 76px;
    object-fit:fill
}


.movie-logo{
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-links{
    margin-left: 400px;
    border: 0px solid red;
    display: grid;
    font-size: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20px;
    height: 76px;
}

.menu-link{
    margin: 0;
    padding: 0;
    border: 0px solid white;
}

.menu-link-last{
    padding-left: 25px;
}

.menu-box{
    display: flex;
    border: 0px solid yellow;
    justify-content: left;
    align-items: center;
    margin-right: 0px;
}

.menu-logo{
    height: 20px;
    margin-right: 0px;
}